<nav id="sidebar">
  <div class="sidebar-header">
    <h3> <%= image_tag 'logov1.png', alt:'SIGI', size:'200x81' %></h3>
  </div>
  <ul class="list-unstyled components">
    <p> </p>
    <li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Actas</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="#">Crear actas</a>
        </li>
        <li>
          <a href="#">Crear descargo</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Expedientes</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Crear Expediente</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dictamenes</a>
      <ul class="collapse list-unstyled" id="pageSubmenu" >
        <li>
          <a href="#">Crear Dictamen</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Resoluciones</a>
    </li>
    <li>
      <a href="#">Contacto</a>
    </li>
  </ul>
</nav>
